/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
} */
.App{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.App-content{
 display: grid; 
 justify-content: center;
 align-items: center;
}
.gifs{
  display: flex;
  flex-wrap: wrap;
}
h1{
  font-size: 4rem;
}
a{
  font-size: 2.4rem;
  color: salmon;
  width: 100%;
  text-decoration: none;
}
a:hover{
  color: blueviolet;
}